@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic,400italic);
body{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:75%;
	object-fit: cover;
	border-radius: 10px;
}
iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	object-fit: cover;
	border-radius: 10px;
}
p{
	font-size: 20px;
	text-align: center;
}
li{
	font-size: 27px;
}
h1{
	font-weight: 900;
	font-size: 40px;
}
sub{
    font: sans-serif;
    color: #555555;
}
nav{
	width: 100%;
	background-color: #AAAAAA;
	color: white;
	position: sticky;
	top: 0px;
}
nav ul{
	display: flex;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	color:white;
}
nav ul li{
	padding: 10px;
}
/* */

nav li {
	display: inline;
	vertical-align:middle;

}
/*header li:first-child {
	margin: 0;
}
header li a {
	margin: 0 10px;
}*/
h2 a{
	color: black;
	text-decoration: underline;
}
nav a {
	text-decoration: none;
	color: black;
}
hr{
	padding: 10px;
}
/* */
.button{
	font-family: 'Yeseva One', sans-serif;
    background-color: #AAAAAA;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    transition-duration: 0.6s;
    border-radius: 5px;
    curser: pointer;
}
.button1{
    background-color: #AAAAAA;
    color: white;
}
.button1:hover{
    background-color: #CCCCCC;
    color: black;
}


